<section class="dogs">
    <div class="dog">
        <img src="~/img/labbe.jpg" alt="Bild på en labrador">
        <h3>LABRADOR RETRIVER</h3>
        <p>Labrador retriever är en jakthund som arbetar efter skott och används för att apportera fågel och småvilt.
            Labrador retriever används också som ledar-, service- och
            narkotikahund och inte minst som familjehund.</p>
    </div>

    <div class="dog">
        <img src="~/img/golden.jpg" alt="Bild på en golden retriver">
        <h3>GOLDEN RETRIVER</h3>
        <p>Golden retrieverns ursprung som apporterande fågelhund gör den till en lämplig arbetande hundras. Idag är den
            en allroundhund som lämpar sig väl både som jakthund eller sällskapshund i ett aktivt hem.
        </p>
    </div>

    <div class="dog">
        <img src="~/img/schäfer.jpg" alt="Bild på en schäfer">
        <h3>SCHÄFER</h3>
        <p>Tysk schäferhund har genom sin mångsidighet och sina bruksegenskaper etablerat sig som en mycket duglig
            tjänstehund. Den är också mycket eftertraktad som
            tävlingshund och familjehund.</p>
    </div>
</section>