@model List<DT191G_MVC.Models.FormModel>

@{
    ViewData["Title"] = "Hundar";
}

<h2>Tillagda hundar</h2>

<main>
    <section class="dogs">
        @foreach (var dog in Model)
        {
            <div class="dog">
                <p>Namn: @dog.DogName</p>
                <p>Ras: @dog.BreedName</p>
                <p>Ålder: @dog.Age</p>
                <p>Är matte/husse hund-nörd: @(dog.DogLover.GetValueOrDefault() ? "Ja" : "Nej")</p> 
            </div>
        }
    </section>
</main>