@model List<DT191G_MVC.Models.DogModel>

@{
    ViewData["Title"] = "Startsida";
}

@* Fyll namn vid ny session *@
<div>
    @if (string.IsNullOrEmpty(ViewBag.UserName))
    {
        <form class="welcomeForm" method="post" asp-action="SaveName">
            <label for="userName">Skriv ditt namn:</label>
            <input type="text" name="userName" required />
            <button class="btn" type="submit">Spara</button>
        </form>
    }
</div>

<h2>Välkommen till Dogs4All</h2>

<div class="intro-text">
    <h3>Några populära hundraser</h3>
    <p>Här är lite kort information om några av våra populäraste hundraser.</p>
</div>

@* partial med raser *@
<partial name="_PopularBreeds" />

<h3>Några övriga hundraser att läsa mer om:</h3>

<ul class="moreDogs">
    @foreach (var dog in Model)
    {
        <li>
            <a href="@dog.Url" title="Klicka här för att läsa mer om rasen" target="_blank">@dog.Breed</a>
        </li>
    }
</ul>
